body {
  padding: 0;
  margin: 0;
  position: relative;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.input {
  display: none;
}

.pseudo-check {
  display: inline-block;
  border-radius: 0.4em;
  vertical-align: middle;
  position: relative;
  transition: all 0.3s;
  box-shadow: inset 0 0.05em 0.15em rgba(0, 0, 0, 0.3);
  top: -0.11em;
  width: 1.3em;
  height: 1.3em;
}

.checkmark {
  position: relative;
  margin: 25% 20%;
  -webkit-clip-path: polygon(0 56%, 35% 87%, 100% 15%, 85% 0, 34% 56%, 15% 39%);
  clip-path: polygon(0 56%, 35% 87%, 100% 15%, 85% 0, 34% 56%, 15% 39%);
  width: 0.75em;
  height: 0.75em;
}

.goo {
  border-radius: 50%;
  background-color: #fff;
  background-color: #39d76e;
  position: absolute;
  left: 15%;
  top: 67%;
  opacity: 0;
  transition: opacity 0.4s 0.1s, -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in, opacity 0.4s 0.1s;
  transition: transform 0.5s ease-in, opacity 0.4s 0.1s, -webkit-transform 0.5s ease-in;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  width: 0.06em;
  height: 0.06em;
}

.item {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  color: #456;
  min-width: 100%;
  cursor: pointer;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin: 0 -1em;
}

.item__content {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  background-color: #fff;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  box-sizing: border-box;
  padding: 1em 1em;
  margin-bottom: -3.5em;
  border-top: 1px solid #efefef;
  transition: all 0.5s calc((5 - var(--item)) * .05s) cubic-bezier(0.28, -0.54, 0.45, 2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.item:first-of-type .item__content {
  border-top: none;
}

.item__text {
  position: relative;
  max-width: calc(100% - 1.8em);
  overflow: hidden;
  height: 30px;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.item__text::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  top: 50%;
  left: -2.5%;
  position: absolute;
  background-color: #39d76e;
  transition: all 0.2s 0.1s;
}

.progress {
  background-color: #39d76e;
  width: 0.01%;
  height: 5px;
  position: relative;
  order: -1;
  transition: width 0.4s;
  margin-bottom: 1rem;
}

.input:checked+.item .item__text::after {
  width: 105%;
}

.input:checked+.item .pseudo-check {
  background: #39d76e;
}

.input:checked+.item+.progress {
  width: 20%;
  transition: width 0.4s 0.1s;
}

.input:checked+.item .goo {
  background-color: #fff;
  -webkit-transform: scale(40);
  transform: scale(40);
  opacity: 1;
  transition: opacity 0, -webkit-transform 0.3s cubic-bezier(1, -0.46, 0.41, 1.34);
  transition: transform 0.3s cubic-bezier(1, -0.46, 0.41, 1.34), opacity 0;
  transition: transform 0.3s cubic-bezier(1, -0.46, 0.41, 1.34), opacity 0, -webkit-transform 0.3s cubic-bezier(1, -0.46, 0.41, 1.34);
}

.input:checked+.item+.stuff {
  float: right;
}

.todos {
  width: 95%;
  box-sizing: border-box;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  position: relative;
  padding-bottom: 0.5em;
  margin: auto;
  border-radius: 0.1em 0.1em 0.3em 0.3em;
  border-top: 20px solid #6836c8;
  border-top: 20px solid #04c6df;
  background-color: #fff;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.divider {
  width: 100%;
  height: 2px;
  order: 0;
}

.title {
  order: -4;
  width: 100%;
  margin-top: 0;
  margin-bottom: -5px;
  font-size: 1rem;
  color: #456;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 5px solid #d9dee3;
  letter-spacing: 0.02em;
}

.toggle {
  display: none;
}

.toggle:checked~.item .item__content {
  margin-bottom: 0em;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  transition: all 0.23s calc(var(--item) * .16s) cubic-bezier(0.28, -0.54, 0.45, 2.1);
}

.toggle:checked+.btn-toggle::after {
  top: 35%;
  -webkit-transform: rotateZ(-135deg);
  transform: rotateZ(-135deg);
}

.btn-toggle {
  position: absolute;
  top: 1em;
  right: 1em;
  border: 2px solid #89a;
  text-indent: -9999px;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.btn-toggle::after {
  content: "";
  display: block;
  border: 2px solid #89a;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 16%;
  left: 24%;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  width: 8px;
  height: 8px;
}

.end {
  display: block;
  opacity: 0;
  pointer-events: none;
  -webkit-clip-path: polygon(0 56%, 35% 87%, 100% 15%, 85% 0, 34% 56%, 15% 39%);
  clip-path: polygon(0 56%, 35% 87%, 100% 15%, 85% 0, 34% 56%, 15% 39%);
  width: 8em;
  height: 8em;
  position: absolute;
  top: 230px;
  right: calc(50% + 0px);
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  z-index: 4;
  overflow: hidden;
  transition: opacity 0.1s, all 0 0.4s;
}

.end .goo {
  background: linear-gradient(#ff3052, #ff51b6);
  -webkit-transform: scale(1);
  transform: scale(1);
  width: 3em;
  height: 3em;
}

.input:checked~.input:checked~.input:checked~.input:checked~.input:checked~.end {
  opacity: 1;
  top: 33px;
  right: calc(0% + 65px);
  transition: opacity 0.1s, width 0.3s 0.2s cubic-bezier(0.28, -0.54, 0.45, 1.3), height 0.3s 0.2s cubic-bezier(0.28, -0.54, 0.45, 1.3), top 0.3s 0.5s cubic-bezier(0.99, -0.4, 0.14, 1.51), right 0.3s 0.5s cubic-bezier(0.99, -0.4, 0.14, 1.51);
  width: 1em;
  height: 1em;
}

.input:checked~.input:checked~.input:checked~.input:checked~.input:checked~.end .goo {
  transition: all 0.4s;
  left: 35%;
  top: 17%;
  -webkit-transform: scale(4);
  transform: scale(4);
  opacity: 1;
}

.viewport {
  font-family: "Avenir", sans-serif;
  font-size: 1.3em;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to top, #2a037d, #5a3fb9);
}

.viewport::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(#fa0, #ff6e12);
  border-radius: 50%;
  left: -10%;
  bottom: -35vh;
  width: 200vw;
  height: 80vh;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
